body {
	font: 14px 'Helvetica', 'Arial', sans-serif;
	margin: 0 30px;
	background: #d9ecee;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 20px 0px;
}

h2 {
	font-size: 26px;
	font-weight: bold;
	margin: 16px 0px;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	margin: 13px 0px;
}

a:link, a:visited, span.link {
	color: #4083a9;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

a:hover, span.link:hover {
	text-decoration: none;
	color: #105b86;
}

#wrapper,
#content {
	background: #fff;
}

#content {
	padding: 20px;
}

#main-header {
	background: #F2F2F2;
	border-bottom: 1px solid #CCCCCC;
	padding: 60px 20px 20px;
	margin-bottom: 20px;
}

#main-header h1 {
	margin: 0;
}

#nav-bar {
	background: #d9ecee;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
	width: 100%;
	padding-top: 4px;
}

#nav {
	margin: 0 30px;
	padding: 0 0 10px;
	background: #008c9a;
	height: 26px;
	display: block;
	position: relative;
}

#nav ul {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px 10px;
}

#nav li {
	float: left;
	margin: 0 5px;
}

#nav li a {
	display: block;
	padding: 8px 10px 12px 10px;
	height: 20px;
	color: #efefef;
	text-decoration: none;
	margin-bottom: -1px;
	border-top: 2px solid #fff;
}

#nav li a:hover, #nav li.active a {
	border-top-color: #a6aa14;
}

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
	color: hsl(0, 100%, 50%)
}

/* Charts */

#chart {
	min-height: 200px;
}

/* Datatables */

table {
	border-collapse: collapse;
}

table.dataTable th {
	text-align: left;
}

table.dataTable td {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

table.dataTable.dtable tr td.sorting_1 {
	background: #e2e2e2;
}

table.dataTable tr.selected td {
	background-color: #dff0d8;
}

table.dataTable tr.selected td.sorting_1 {
	background-color: #d6e9c6;
}

.dataTables_info {
	color: #888;
	padding: 5px 10px;
}

/* Forms */

fieldset {
	padding: 0;
	border: 0;
	margin: 0;
}

fieldset ol, fieldset ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset ul li {
	padding: 2px 0px 12px 0px;
}

.ctrlHolder > label, .ctrlHolder > .label {
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	width: 10em;
}

.ctrlHolder ul {
	margin-left: 10em;
}

fieldset input, fieldset select, fieldset textarea {
	margin: 0px;
}